/*Navbar*/
#navbar {
    list-style-type: none;
}
.navbar-left {
   display:inline-block;
   float:left;
}

.navbar-right {
   display:inline-block;
   float:right;
}


/*Video player*/





/*Sidebar*/





/*Comment Section*/
